*{
    margin: 0px;
    /* margin-top: 10px; */
}

/* MENU */

.favicon{
    width: 3vw;
    float: left;
}
.container1{
    margin-top: 10px;
}
.container1 hr{
    color: #EFF5F5;
    height: 3px;
}
.container1 a{
    color: #EFF5F5;
}
.container1 ul a:hover{
    color: white;
    background-color: #EFF5F5;
}
.container1 a:hover{
    color: #EFF5F5;
}

.img{

    /* For nav image */
    position: relative;
    display: inline;
    float: left;
    
    
}
.cart{
    width: 35px;
    height: 35px;
}
.navbar-toggler-icon #navbarSupportedContent .navbar-toggler .toggle{
    color: #EFF5F5;
}

div.stnav{
    position: sticky;
    top: 0;
    background-color: white;
}
.stnav {
    z-index: 9999;
}
nav{
    background: linear-gradient(to bottom,#497174,rgb(30, 27, 27));
    border-radius: 10px;
    padding: 0 50px;
}
.navtext{
    border: solid 3px #EFF5F5;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family:'Amarante';
}
.gr a{
    border-radius: 10px;
    text-decoration: none;
}
.gr a:hover{
    background-color: #D6E4E5;
    color: #497174;
}
/* nav{
    display: block;
    padding: 20px ;
    position: fixed;
    margin:0vh 10vw;
    background-color: white;
    width: 80%;
    line-height: 2vw;
    border:#EFF5F5 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    
} */
/* .navtext{
    color: #EFF5F5;
    display: inline;
    border: solid #EFF5F5 2px;
    border-left: 0px;
    border-right: 0px;
    line-height: 2vw;

} */
/* .logo{
    
    display: inline;
    line-height: 2vw;
}

.menu li:hover{
    background-color: #EFF5F5;
    color: white;
    padding: 10px 30px;
    transition:all 0.5s ease-out;
} */

/* nav ul{
    display: inline-block;
    
} */
/* .menu li{
    transition-duration:0.5s;
    padding: 10px 30px;
    text-decoration: none;
    display: inline;
}
.menu{
    display: inline;
    margin-left: 50%;
    line-height: 2vw;
}
a.menu1:hover{
    color: white;
}
.menu1{
    text-decoration: none;
    color: #EFF5F5;
} */

/* .quickMeal{
    text-align: center;
    border-radius: 10px;
    border: none 2px solid;
    width: 30%;
    height: 40vh;
    display: inline-block;
    box-shadow: none 5px 20px 50px;
    margin-top: 10vw;
}

.quickMeal ul{
display: inline;
}

.quickMeal li{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:white;
    background-color: #EFF5F5;
    border:solid 2px white;
    transition: all 0.5s ease-out;
}
.quickMeal li:hover{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:#EFF5F5;
    background-color: white;
    border: 2px #EFF5F5 solid;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    transition-timing-function: linear;
    
    
}
.quickMeal h1{
    color: #EFF5F5;
}
.sect1{
    display: flex;
    margin: 10vh 10vw;
    
}
.shops{
    display: inline;
    background-color:;
    border-radius: 10px;
    margin: 0vw 3vw;
    width:70%;
 
}
.div1{
    display: flex;
    justify-content:space-evenly;
    border-radius: 10px; 

}
.card{
    display: flex;
    width: 18vw;
    height: 40vh;
    border:2px white solid;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #EFF5F5 10px 20px 50px;
    transition: all 0.5s ease-out;

}
.card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
.logo{
    width: 10vw;
    height: 10vw;
}
.btn{
    background-color: #EFF5F5;
    color: white;
    margin:1vw;
    border: #EFF5F5;
    
}
.btn:hover{
    background-color: white;
    color: #EFF5F5;
    border: #EFF5F5 2px solid;
    

} */


/* CARD AND MENU */
.lower_section{
    margin-top: 30px;
    background-color: #EFF5F5;
    border-radius: 10px;
}
.logo{
    width: 10vw;
}
/* .quickmeal li{
    list-style: none;
    margin:5px 40px;
    margin-right: 25px;
    padding: 10px 0px;
    border-radius: 10px;
    color:white;
    background-color: #EFF5F5;
    border:solid 2px white;
    transition: all 0.5s ease-out;
}
.quickmeal li:hover{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:#EFF5F5;
    background-color: white;
    border: 2px #EFF5F5 solid;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    transition-timing-function: linear;  
} */



.btn{
    background-color: #497174   ;
    color: white;
    margin:1vw;
    border: #EFF5F5 2px solid; 
}

.btn:hover{
    background-color: #D6E4E5;
    color: #497174;
    border: #497174 solid 2px;
    

} 


.card{
    
    height: 40vh;
    border:2px white solid;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #497174 5px 10px 25px;
    transition: all 0.5s ease-out;

}
.card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    box-shadow: black 10px 20px 50px;
}

.cards{
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}
@media screen and (max-width: 450px){
    .c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo{
        width: 50%;
    }
    .lower_section{
        width: 90%;         
    }
    .favicon{
        width: 10vw;
    }
}
@media screen and (max-width: 767px) and (min-width: 451px){
    .card{
        height: 25vh;
        width: 30%;
    }
}
