*{
    margin: 0px;
    /* margin-top: 10px; */
}

/* MENU */
.container1{
    margin-top: 10px;
}
.container1 hr{
    color: #EFF5F5;
    height: 3px;
}
.container1 a{
    color: #EFF5F5;
}
.container1 ul a:hover{
    color: white;
    background-color: #EFF5F5;
}
.container1 a:hover{
    color: #EFF5F5;
}

.img{

    /* For nav image */
    position: relative;
    display: inline;
    float: left;
    
    
}
.cart{
    width: 35px;
    height: 35px;
}
.navbar-toggler-icon #navbarSupportedContent .navbar-toggler .toggle{
    color: #EFF5F5;
}

div.stnav{
    position: sticky;
    top: 0;
    background-color: white;
}
.stnav {
    z-index: 9999;
}
nav{
    background-color: #497174;
    border-radius: 10px;
    padding: 0 50px;
}
.navtext{
    border: solid 3px #EFF5F5;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family:'Amarante';
}

/* CARDS AND MENU */

.lower_section{
    margin-top: 30px;
    background-color: #EFF5F5;
    border-radius: 10px;
}
.logo{
    width: 10vw;
}
.btn{
    background-color: #497174   ;
    color: white;
    margin:1vw;
    border: #EFF5F5; 
}

.btn:hover{
    background-color: white;
    color: #EFF5F5;
    border: #EFF5F5 2px solid;
    

} 


.card{
    
    height: 40vh;
    border:2px white solid;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #497174 5px 10px 25px;
    transition: all 0.5s ease-out;

}
.card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    box-shadow: black 10px 20px 50px;
}

.cards{
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}


#footer{
    text-align: center;
    padding: 6%;
}

.lasticons{
    margin: 12px 12px;
    padding-bottom: 6px;
}  

#footer_para{
    font-size: larger;
}


@media screen and (max-width: 450px){
    .c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo{
        width: 50%;
    }
    .lower_section{
        width: 90%;         
    }
}
@media screen and (max-width: 767px) and (min-width: 451px){
    .card{
        height: 25vh;
        width: 30%;
    }
}
