*{
    margin: 0px;
}

/* MENU */
.container1 hr{
    color: #43ba10;
    height: 3px;
}
.container1 a{
    color: #43ba10;
}
.container1 ul a:hover{
    color: white;
    background-color: #43ba10;
}
.container1 a:hover{
    color: #43ba10;
}

.img{

    /* For nav image */
    position: relative;
    display: inline;
    float: left;
    
    
}
.cart{
    width: 35px;
    height: 35px;
    float: right;
}
.navbar-toggler-icon #navbarSupportedContent .navbar-toggler .toggle{
    color: #43ba10;
}

div.stnav{
    position: sticky;
    top: 0;
    background-color: white;
}
.stnav {
    z-index: 9999;
}


/* CARD AND MENU */
.lower_section{
    margin-top: 50px;
}
.quickmeal{
    text-align: center;
    padding-left:6px;
}
.quickmeal h1{
    color: #43ba10;
}
.logo{
    width: 10vw;
}
.quickmeal li{
    list-style: none;
    /* margin:5px 40px; */
    margin-right: 20px;
    padding: 10px 0px;
    border-radius: 10px;
    color:white;
    background-color: #43ba10;
    border:solid 2px white;
    transition: all 0.5s ease-out;
}
.quickmeal li:hover{
    list-style: none;
    margin:5px 40px;
    padding: 10px 0px;
    color:#43ba10;
    background-color: white;
    border: 2px #43ba10 solid;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
    transition-timing-function: linear;  
}



.btn{
    background-color: #43ba10;
    color: white;
    margin:1vw;
    border: #43ba10; 
}

.btn:hover{
    background-color: white;
    color: #43ba10;
    border: #43ba10 2px solid;
    

} 


.card{
    width: 29%;
    height: 40vh;
    border:2px white solid;
    background-color: white;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #43ba10 10px 20px 50px;
    transition: all 0.5s ease-out;

}
.card:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.cards{
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px){
    .c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .card{
        width: 80%;
        margin-left: 0;
    }
    .cards{
        margin-left: 12px
    }
    .logo{
        width: 70%;
    }
    .lower_section{
        width: 90%;         
    }
}
